body {
  font-family: "Open Sans", sans-serif;
  margin: 15px;
}
.content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 30px);
}
.content h1 {
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
  color: #272727;
}
.content footer {
  margin-top: 25px;
  color: #272727;
  text-align: center;
}
.content footer a {
  color: #4f98ca;
}
.content footer .heart {
  color: #ff0000;
}
.content .space {
  margin-top: 15px;
}
.content .box textarea {
  padding: 10px;
  width: calc(100% - 24px);
  font-size: 16px;
  border: 1px solid #777;
  background-color: #fafafa;
}
.content .box button {
  padding: 10px;
  font-size: 16px;
  background-color: #50d890;
  border: 1px solid #00b152;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.content .box button:hover,
.content .box button:active {
  background-color: #00b152;
}
.content .box button:focus {
  background-color: #8aceaa;
}
.content .box button#trendit {
  width: calc(100% - 2px);
}
.content .box button#copy,
.content .box button#tweet {
  width: calc(50% - 8px);
}
.content .box button#copy {
  margin-right: 5px;
}
.content .box button#tweet {
  margin-left: 5px;
}
